<!DOCTYPE html>
<html>
<head>
	{% if type =="hod":%}
	<title>HoD Page</title>
	{% endif %}

	{% if type =="staff":%}
	<title>Staff Page</title>
	{% endif %}
</head>
<body>
<div>
	<h1>Name : {{username}}</h1>
</div>
<div>
{% if type =="hod":%}
<form method="POST">	
	<button value=submit>Click to check the status</button>
	
	<table>
		<tr>
			<th>Type of leave</th>
			<th>Apply Date</th>
			<th>Number of Days</th>
		</tr>
		
			{% for row in l_applied: %}
			<tr>
				{%for elem in row:%}
					<td>{{elem}}</td>
				{% endfor %}
			<td><button type="submit">Approve</button></td>
			</tr>
			{% endfor %}
			
			
		
	</table>
	
<form>
</div>
{% endif %}
</body>
</html>