<!DOCTYPE html>
<html>
<head>
	{% if type =="hod":%}
	<title>HoD Page</title>
	{% endif %}

	{% if type =="staff":%}
	<title>Staff Page</title>
	{% endif %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel="stylesheet" href="static/staff_page.css">
</head>
<body>
<div>
	<h1>Name : {{username}}</h1>
</div>
<div>
	<form method='POST'>
	<button type="submit" name='submit' value='logout'> <b> Logout</b> 
	</button>
</form>
</div>
<div>
{% if type =="hod":%}
<form method="POST">	
	<button name ='submit' type="submit" value="show">Click to check the status</button>
<!--</form> -->
	<table>
		<tr>
			<th>Type of leave</th>
			<th>Apply Date</th>
			<th>Number of Days</th>
		</tr>
			
			{% for row in l_applied: %}
			<tr>
				<input type='hidden' name='eid' value='{{row[0]}}'>	
				{%for elem in row:%}
					<td>{{elem}}</td>

				{% endfor %}


			<td><button name='submit' type="submit" value="change">Approve</button></td> 
		
		<!--<form method="POST">
			<input type='hidden' name='eid' value='{{row[0]}}'>	
				
			{{ row[1]}}-{{ row[2]}}-{{ row[3]}}{{ row[4]}}



			<button type="submit" name="submit" value="accept"> accept</button>
			<button type="submit" name="reject" value=" reject"> reject</button>



		</form> -->
		</tr> 
			
			{% endfor %}
			
			
		
	</table>
	
 </form>
</div>
{% endif %}
{%if type=="staff" :%}
<div class="jumbotron">
  		<h1 class="display-3">Application of Leave</h1>
  		<p>Please fill in the small form in order to apply for a leave</p>
	</div>
	<div class="container">
		<div class="form">
			<form method="POST">
				Type of Leave:<select name="leave">
  						<option value="e_l">Earned Leave</option>
  						<option value="c_l">Casual</option>
  						<option value="c_c_l">Compensated Casual Leave</option>
  						<option value="m_l">Medical Leave</option>
  						<option value="e_o_l">Extra-ordinary Leave</option>
  						<option value="o_d">On-Duty</option>
						</select><br>
				Number of Leaves:<input type="number" name="days" ><br>
				Reason:<input type="text" name="reason"><br>
				Start Date:<input type="date" name="date"><br>
				<input type="submit" name="submit" value="apply">
			</form>
		</div>
	</div>

{% endif %}
</body>
</html>