<!--<!DOCTYPE html>-->
<html>
<head>
	<title>Login Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--<link href="static/bootstrap.min.css" rel="stylesheet" media="screen"> -->
	<link href="static/logic.css" rel="stylesheet" media="screen">
</head>

<body>
<div id="parent">
	<form method="POST">
				<input type ="username" placeholder="Username" name="username" value="{{request.form.username}}">
				<br>
				<input type="password" placeholder="Password" name="password" value="{{request.form.password}}">
				<input type="submit" value="Login">
	</form>
	

	{% if error %}
	<p><strong>Error:</strong>{{ error }}</p>
	{% endif %}
</div>
</body>

</html>